:root {
  --main-bg-color: #{{base}};

  --modal-bg-color: #{{mantle}};
  --modal-header-color: #{{crust}};
  --modal-footer-color: #{{crust}};

  --drop-down-menu-bg: #{{surface0}};

  --button-color: #{{surface0}};
  --button-color-hover: #{{surface1}};
  --button-text: var(--text);
  --button-text-hover: var(--text-hover);

  --accent-color: 137, 180, 250; /* Mocha Blue */
  --accent-color-hover: rgb(var(--accent-color), 0.8);
  --link-color: var(--text);
  --link-color-hover: #{{blue}};
  --label-text-color: #fff; /* have to break convention here */

  --text: #{{text}};
  --text-hover: var(--text);
  --text-muted: {{subtext0}};

  /* Specials */
  --arr-queue-color: #{{green}}; /* Servarr apps + Bazarr */
  --plex-poster-unwatched: #{{peach}};
  --petio-spinner: invert(66%) sepia(15%) saturate(1451%) hue-rotate(185deg) brightness(105%) contrast(96%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */ /* Blue */
  --gitea-color-primary-dark-4: var(--accent-color);
  --overseerr-gradient: linear-gradient(
    var(--main-bg-color),
    var(--main-bg-color)
  ); /* Make sure this is compatible with whatever takes in the gradient */
}
