:root {
  --text: #4c4f69; /* Text */
  --text-muted: #6c6f85; /* Subtext0 */
  --text-hover: var(--text);
  --label-text-color: #fff; /* have to break convention here */

  --main-bg-color: #eff1f5; /* Base */

  --modal-bg-color: #e6e9ef; /* Mantle */
  --modal-header-color: #dce0e8; /* Crust */
  --modal-footer-color: #dce0e8; /* Crust */

  --drop-down-menu-bg: #9ca0b0; /* Overlay0 */

  --button-color: #ccd0da; /* Surface0 */
  --button-color-hover: #bcc0cc; /* Surface1 */
  --button-text: var(--text);
  --button-text-hover: var(--text-hover);

  --accent-color: 137, 180, 250; /* Blue */
  --accent-color-hover: rgb(var(--accent-color), 0.8);
  --link-color: var(--text);
  --link-color-hover: #1e66f5; /* Blue */

  /* Specials */
  --arr-queue-color: #40a02b; /* Servarr apps + Bazarr */ /* Green */
  --plex-poster-unwatched: #fe640b; /* Peach */
  --petio-spinner: invert(66%) sepia(15%) saturate(1451%) hue-rotate(185deg)
    brightness(105%) contrast(96%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */ /* Blue */
  --gitea-color-primary-dark-4: var(--accent-color);
  --overseerr-gradient: linear-gradient(
    var(--main-bg-color),
    var(--main-bg-color)
  ); /* Make sure this is compatible with whatever takes in the gradient */
}
